.button {
  font-family: monospace;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgba(39, 41, 43, .03);
  border: 1px solid rgba(39, 41, 43, .1);
  cursor: pointer;
  color: black;
}

.button:hover {
  background-color: rgba(39,41,43,.06);
}

.button.active {
  border-style: inset;
  background-color: rgba(39,41,43,.15)
}