.navbar {
  background-color: #f8f8f8;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #b8b8b8;
  border-top: none;
}

.nav-menu {
  background-color: #f8f8f8;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #b8b8b8;
  border-top: none;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1px 8px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgba(39,41,43,.06)
}

.nav-text a.active {
  background-color: rgba(39, 41, 43, .15);
}

.nav-menu-items {
  padding: 8px 0;
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-text span {
  margin-left: 16px;
}