* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
  font-family: monospace, Arial, sans-serif;
}

.atu, .cycles, .net, .poepse, .port, .power, .service, .shdsl, .signals, .stat, .switch {
  display: flex;
  font-size: 1rem;
  padding: 16px;
  width: calc(100% - 350px);
  flex-wrap: wrap;
  height: fit-content;
}

.poepse__buttons {
  flex: 1 1 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.poepse__content {
  flex: 1 1 100%;
}

#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}

main {
  display: flex;
}

h2 {
  font-size: 20px;
}

.auth-form {
  display: flex;
  margin: auto;
  height: 200px;
  margin-top: calc(50% - 200px);
  padding: 20px 40px;
  border: 1px solid #cccccc;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;
}

.auth-form-fields {
  padding: 16px 0;
}

.auth-form-label {
  width: 100%;
  display: block;
  font-size: 12px;
  text-align: start;
  color: #777777;
}

input.auth-form-control  {
    padding: 8px;
    width: 100%;
    background-color: #ffffff !important;
    outline: none;
    color: #000;
    border: 1px solid #cccccc;
    border-radius: 4px;
}